.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    background: #f5f5f5;
}
.navbar-brand {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.navbar-brand a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
    }

    .navbar-links.active {
        display: flex;
        align-items: center;
    }
}
